<!DOCTYPE html>
<html lang="en" ng-app="myModule">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AngularJS Filters</title>
    <script src="scripts/angular.min.js" type="text/javascript"></script>
    <script src="scripts/script7.js" type="text/javascript"></script>
    <script src="scripts/filters.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>AngularJS Filters</h1>

    <h2>Search Field</h2>
    <div ng-controller="myController">
      <span>Search:</span>
      <input type="text" ng-model="searchText" placeholder="Search Employees" />
      <br />

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees | filter:search">
            <td>{{ employee.name }}</td>
            <td>{{ employee.gender | gender}}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
