body,
html {
  overflow: hidden;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 400;
}

a {
  cursor: pointer;
}

hr {
  margin: 0;
}

.dropdown-menu {
  z-index: 10000 !important;
}

form[novalidate] input {
  border-left-width: 8px;
  border-color: #3598db;
  border-style: solid;
}

input[required].ng-pristine {
  border-color: e74c3c;
}

.header {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
